table,
th,
td {
  border: 1px solid black;
}

th,
td {
  padding: 5px;
  text-align: left;
}

.button1 a {
  text-decoration: none;
  color: white;
  letter-spacing: 1px;
}

.button1 {
  background-color: black;
  border-radius: 20px;
  padding: 0.5rem;
}
.text-center {
  display: flex;
  justify-content: center;
  letter-spacing: 1px;
  margin-top: 4rem;
}

.form1 {
  display: flex;
  justify-content: center;
  letter-spacing: 1px;
  font-weight: bold;
}
